# Google OAuth Client ID
# Get this from Google Cloud Console (APIs & Services > Credentials)
VITE_GOOGLE_CLIENT_ID=356758659495-kpjkl2irajdr94o0i3pg2f7k1r44ge89.apps.googleusercontent.com

# Backend API URL
VITE_API_BASE_URL=https://your-vercel-backend.vercel.app/api
# Admin Security Secret
VITE_ADMIN_SECRET_KEY=rcsplacements2009
